.home-bg-container {
  display: flex;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-left: 244px;
  padding-left: 125px;
  width: 630px;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .home-container {
    margin: 0;
    padding: 16px 0;
    width: 100%;
  }
}
