.story-link {
  text-decoration: none;
  color: #000000;
}

.story-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 630px;
  margin-bottom: 24px;
  padding-left: 4px;
  height: 100px;
  position: relative;
  left: -80px;
  overflow-y: scroll;
  gap: 12px;
}

.story-container .story {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 4px;
  background: linear-gradient(90deg, #feda75, #fa7e1e, #d62976, #962fbf);
}

.story-white-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #ffffff;
}

.story-container .story img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.story-container::-webkit-scrollbar {
  display: none;
}

.story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-username {
  font-size: 12px;
}

.your-story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.your-story-icon {
  width: 64px;
  height: 64px;
  color: rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  background: none;
  border-radius: 50%;
}

.your-story-image-profile {
  width: 56px;
  height: 56px;
  background: none;
  border-radius: 50%;
}

.story-add-icon {
  color: rgb(0, 149, 246);
  background: #ffffff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 8px;
  right: 6px;
}

.home-story-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 200;
}

.story-modal-container {
  width: 400px;
  height: 560px;
  border-radius: 8px;
  background: #ffffff;
  position: relative;
}

.story-popup-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  outline: none;
  z-index: 210;
  color: #ffffff;
  cursor: pointer;
}

.story-popup-close-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.story-input {
  display: none;
}

.story-image {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .story-container {
    margin-top: 60px;
    position: relative;
    left: 0;
  }

  .story-container .story {
    width: 70px;
    height: 70px;
  }

  .story-white-bg {
    width: 62px;
    height: 62px;
  }

  .story-container .story img {
    width: 58px;
    height: 58px;
  }

  .your-story-icon {
    width: 70px;
    height: 70px;
    color: rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    border-radius: 50%;
  }

  .your-story-image-profile {
    width: 58px;
    height: 58px;
    background: none;
    border-radius: 50%;
  }

  .story-add-icon {
    width: 18px;
    height: 18px;
  }

  .story-modal-container {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 769px) {
  .story-container {
    width: 630px;
    position: relative;
    left: -20px;
  }
}
